body{
    background: linear-gradient(chartreuse, black);
    background-size: cover;
    background-repeat: no-repeat
    
}


.card-container{
  padding-top: 265px;
  padding-left: 10px;
  padding-bottom: 300px;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-grow: 5
}

.card-in-hand-image{
  width: 150px;
  height: 208px
}

.to-hit-form{
  height: 50px;
  width: 1050px;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-grow: 5
}


.form-container{
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
  height: 25px;
  display: flex;
  align-content: center;
}

#select-card-form{
  display:flex;
  align-items: space-evenly
}